@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
	--primaryColor: #3D5AFE;
	--primaryDarkColor: #0039CB;
	--primaryLightColor: #EAEFFF;
	--secondaryColor: ;
	--secondaryDarkColor: ;
	--secondaryLightColor: ;

	--backgroundColor: #ffffff;
	--surfaceColor: #ffffff;

	--errorColor: #D32F2F;
	--errorDarkColor: #9A0007;

	--OnPrimaryColor: #ffffff;
	--OnSecondaryColor: #ffffff;
	--OnBackgroundColor: #000000;
	--OnSurfaceColor: #000000;
	--OnDefaultColor: #3F3F3F;
	--OnDisabledColor:#9E9E9E;

	--OnErrorColor: #ffffff;
	--defaultColor: #E0E0E0;
	--defaultDarkColor: #AEAEAE;
	--disbledColor: #E0E0E0;

	background-color: var(--backgroundColor);
	color: black;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
}

h3 {
	margin: 0;
}

.button__icon {
	display: inline-flex;
	align-items: center;
	height: 21px;
	width: 21px;
	filter: invert(1);
}

.button__text {
	display: inline-flex;
	align-items: center;
	padding: 12px;
}

.button1 {
	background-color: var(--defaultColor);
	color: var(--OnDefaultColor);
	outline: 0;
	border: 0;
	border-radius: 10px;
	margin: 5px;
	width: 150px;
	font-weight: bold;
	cursor: pointer;
}

.button1:hover,
.button1:focus {
	background-color: var(--defaultDarkColor);
}

.button2 {
	background-color: var(--backgroundColor);
	color: var(--primaryColor);
	outline: 0;
	border: 1px solid var(--primaryColor);
	border-radius: 12px;
	margin: 5px;
	width: 150px;
	font-weight: bold;
	cursor: pointer;
}

.button2:hover,
.button2:focus {
	background-color: var(--primaryLightColor);
}

.button3 {
	background-color: var(--backgroundColor);
	color: var(--primaryColor);
	outline: 0;
	border: 0;
	border-radius: 12px;
	margin: 5px;
	width: 150px;
	font-weight: bold;
	cursor: pointer;
}

.button3:hover,
.button3:focus {
	background-color: var(--primaryLightColor);
}

.button4 {
	background-color: var(--primaryColor);
	color: var(--OnPrimaryColor);
	outline: 0;
	border: 0;
	border-radius: 12px;
	margin: 5px;
	width: 150px;
	font-weight: bold;
	cursor: pointer;
}

.button4:hover,
.button4:focus {
	background-color: var(--primaryDarkColor);
}

.buttonDisabled {
	background-color: var(--disbledColor);
	color: var(--OnDisabledColor);
	outline: 0;
	border: 0;
	border-radius: 12px;
	margin: 5px;
	width: 150px;
	font-weight: bold;
}

.button5 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primaryColor);
	color: var(--OnPrimaryColor);
	padding: var(--inputButtonPadding);
	outline: 0;
	border: 0;
	border-radius: 12px;
	margin: 5px;
	width: 150px;
	font-weight: bold;
	cursor: pointer;
}

.button5:hover,
.button5:focus {
	background-color: var(--primaryDarkColor);
}

.button6 {
	background-color: var(--errorColor);
	color: var(--OnSecondaryColor);
	outline: 0;
	border: 0;
	border-radius: 12px;
	margin: 5px;
	width: 150px;
	font-weight: bold;
	cursor: help;
}

.button6:hover,
.button6:focus {
	background-color: var(--errorDarkColor);
}